nav {
  position: sticky;
  .menu_bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid white;
    .logo {
      color: white;
      position: absolute;
    }
  }
  
  .menu_bar > ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .menu_bar > ul > li {
    /*position: relative;*/
  
    input {display: none;}
    input + label {cursor: pointer;}
  
    input ~ .tab { display: none}
  
    #tab1:checked ~ .label1,
    #tab2:checked ~ .label2,
    #tab3:checked ~ .label3 {
      color: lightgray;
    }
  
    #tab1:checked ~ .tab.content1,
    #tab2:checked ~ .tab.content2,
    #tab3:checked ~ .tab.content3 { 
      display: block;
    }
  }
  
  .dropdown_menu {
    width: 100dvw;
    display: flex;
    text-align: center;
    position: absolute;
    z-index: 999;
    left: 0;
    top: calc(3rem + 2px);
    border-bottom: 2px solid white;
    transition: .4s ease-in-out;
  }
  
  .dropdown_menu ul {
    display: flex;
    flex-direction: column;
  }

  .dropdown_menu ul li {
    padding: 0.7rem;
    background-color: rgb(30, 30, 30);
    .close {
      color: white;
    }
  }
  
  .dropdown_menu ul li a {
    color: white;
    width: 100%;
  }
}

