//-----TYPOGRAPHY-----//

@mixin font-italics {
  font-style: italic;
}

@mixin font-bold {
  font-weight: bold;
}

@mixin main-font-size {
  font-size: 0.7rem;
}

@mixin h2-font-styles {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
}

//-----COLOR PICK-----//

@mixin color-ball {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 100%;
}

//-----RESPONSIVENESS-----//

@mixin responsive-no-styles {
  padding: 0;
  border: 0;
}