.spaces {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
  .spaces__heading {
    @include h2-font-styles;
  }
  .spaces__gallery {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    
    .spaces__gallery__card {
      min-width: 250px;
      .spaces__gallery__card__img {
        width: 100%;
      }
    }
  }
}